obj/Debug/CustomSniper.csproj.CoreCompileInputs.cache
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/CustomSniper/FileContentIndex/22a36e0d-45ed-48fa-a6b8-b513bf5729c7.vsidx
.vs/CustomSniper/FileContentIndex/dc8ef6bb-8097-443d-9f02-f85d491e2dbd.vsidx
.vs/CustomSniper/v17/.suo
.vs/CustomSniper/v17/DocumentLayout.backup.json
.vs/CustomSniper/v17/DocumentLayout.json
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/CustomSniper.csproj.AssemblyReference.cache
obj/Debug/CustomSniper.csproj.FileListAbsolute.txt
obj/Debug/CustomSniper.dll
obj/Debug/CustomSniper.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache

.vs/CustomSniper/FileContentIndex/a840984f-458a-498e-9dc6-b5f95404b36e.vsidx
*.cache
.vs/CustomSniper/FileContentIndex/24c7d620-710a-45a9-91c6-d7c8f83ebaa0.vsidx
.vs/CustomSniper/FileContentIndex/103e3621-228e-45a2-be78-375a4dbec1ee.vsidx
.vs/CustomSniper/copilot-chat/d631e9fd/sessions/5e52acbc-c033-4089-934c-ca38cceb0864
BulletPenetrationMod.cs
.vs/CustomSniper/FileContentIndex/6e5b0761-9643-4ba3-b1fe-7c45b20d9876.vsidx
*.db
*.vsidx
.vs/CustomSniper/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-wal
.vs/CustomSniper/CopilotIndices/17.14.1368.60722/SemanticSymbols.db-shm
.vs/CustomSniper/CopilotIndices/17.14.1368.60722/CodeChunks.db-wal
.vs/CustomSniper/CopilotIndices/17.14.1368.60722/CodeChunks.db-shm
