obj/Debug/CustomSniper.csproj.CoreCompileInputs.cache
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
.vs/CustomSniper/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
.vs/CustomSniper/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
.vs/CustomSniper/FileContentIndex/22a36e0d-45ed-48fa-a6b8-b513bf5729c7.vsidx
.vs/CustomSniper/FileContentIndex/dc8ef6bb-8097-443d-9f02-f85d491e2dbd.vsidx
.vs/CustomSniper/v17/.suo
.vs/CustomSniper/v17/DocumentLayout.backup.json
.vs/CustomSniper/v17/DocumentLayout.json
obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
obj/Debug/CustomSniper.csproj.AssemblyReference.cache
obj/Debug/CustomSniper.csproj.FileListAbsolute.txt
obj/Debug/CustomSniper.dll
obj/Debug/CustomSniper.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Properties/AssemblyInfo.cs
.vs/CustomSniper/FileContentIndex/a840984f-458a-498e-9dc6-b5f95404b36e.vsidx
*.cache
